<p>
    The component <code>&lt;day-toast&gt;</code> is a dynamic container for toast notifications, managing screen position, auto-close behavior, and entry/exit animations.
</p>

<div class="line-divider"></div>
<h2>Import</h2>
<p>
    <code>import &#123; DAYToastComponent &#125; from '&#64;dayerlin-bustamante/toast';</code><br>
    <code>import &#123; DAYToastTriggerDirective &#125; from '&#64;dayerlin-bustamante/toast';</code>
</p>

<div class="line-divider"></div>
<h2>Selector</h2>
<p>Toast:<code> day-toast</code></p>
<p>Toast trigger directive:<code> [DAYToast]</code></p>

<div class="line-divider"></div>
<h2>Inputs</h2>
<p>Not included.</p>

<div class="line-divider"></div>
<h2>Output</h2>
<p>Not included.</p>

<div class="line-divider"></div>
<h2>Directives</h2>
<day-table [data]="dataDirectives" [displayedColumns]="displayedColumnsTwo" [resizableColumns]="true">
    <day-table-column [width]="240" name="name" title="Name" />
    <day-table-column name="description" title="Description" />
</day-table>

<div class="line-divider"></div>
<h2>Public methods</h2>
<p>getEnterAnimationClass: returns depending on the verticalPosition 'day-slide-top-in' : 'day-slide-bottom-in';</p>
<p>getLeaveAnimationClass: returns depending on the verticalPosition 'day-slide-top-out' : 'day-slide-bottom-out';</p>

<div class="line-divider"></div>
<h2>Dependencies</h2>
<p><code>'&#64;day/core'</code></p>

<div class="line-divider"></div>
<h2>Example</h2>
<day-card shadow="small">
    <day-card-body>
        <day-tabs class="light">
            <day-tab [tabTmpl]="html">Html</day-tab>
            <day-tab [active]="true" [tabTmpl]="demo">Demo</day-tab>
        </day-tabs>

        <ng-template #html>
            <pre><code>
    &lt;day-button (click)="showToast()" size="big"&gt;Show Toast&lt;/day-button&gt;   
    &lt;day-toast #dayToast&gt;
        Prueba de toast
        &lt;day-close-button [DAYCloseDialog]="dialogRef"&gt;
            &lt;day-icon [icon]="'day-circle-close-solid'" /&gt;
        &lt;/day-close-button&gt;
    &lt;/day-toast&gt;
            </code></pre>
        </ng-template>

        <ng-template #demo>
            <day-button (click)="showToast()" size="big">Show Toast</day-button>
            <day-toast #dayToast>
                Prueba de toast
                <day-close-button [DAYCloseDialog]="dialogRef">
                    <day-icon [icon]="'day-circle-close-solid'" />
                </day-close-button>
            </day-toast>
        </ng-template>
    </day-card-body>
</day-card>
<br>

<div class="line-divider"></div>
<h2>Description</h2>
<ul>
    <li>Supports placing the toast at the top or bottom of the screen. Selects predefined animations depending on position.</li>
    <li>Receives parameters from DAY_TOAST_CONFIGURATION</li>
    <li>Implements the IDAYDialogElement interface for full compatibility with the DAY. Uses DAY_DIALOG_REF for controlled closing.</li>
    <li>Have a directive <code>dayToastTrigger</code> for easily triggering toasts from any element.</li>
</ul>