<h2>Behavior examples</h2>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code>
    &lt;day-button [DAYPopover]="dayPopoverDirectiveFill" 
    [DAYPopoverConfig]="popoverConfigFill"&gt;Directive&lt;/day-button&gt;
    &lt;day-popover #dayPopoverDirectiveFill&gt;
        &lt;day-popover-content&gt;
            &lt;day-popover-header&gt;
                &lt;h3&gt;Popover Fill&lt;/h3&gt;
            &lt;/day-popover-header&gt;
            &lt;day-popover-body&gt;
                Body popover
            &lt;/day-popover-body&gt;
            &lt;day-popover-footer&gt;
                &lt;day-button [size]="'small'"&gt;Footer popover&lt;/day-button&gt;   
            &lt;/day-popover-footer&gt;
        &lt;/day-popover-content&gt;
    &lt;/day-popover&gt;
            </code></pre></div>
            <day-button [DAYPopover]="dayPopoverDirectiveFill" [DAYPopoverConfig]="popoverConfigFill">Directive</day-button>
            <day-popover #dayPopoverDirectiveFill>
                <day-popover-content>
                    <day-popover-header>
                        <h3>Popover Fill</h3>
                    </day-popover-header>
                    <day-popover-body>
                        Body popover
                    </day-popover-body>
                    <day-popover-footer>
                        <day-button [size]="'small'">Footer popover</day-button>
                    </day-popover-footer>
                </day-popover-content>
            </day-popover>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code>
    &lt;day-button [DAYPopover]="dayPopoverDirectiveInject" 
    [DAYPopoverConfig]="popoverConfig"&gt;Directive&lt;/day-button&gt;
    &lt;day-popover #dayPopoverDirectiveInject&gt;
        &lt;day-popover-content&gt;
            &lt;day-popover-header&gt;
                &lt;h3&gt;Popover Inject&lt;/h3&gt;
            &lt;/day-popover-header&gt;
            &lt;day-popover-body&gt;
                Body popover
            &lt;/day-popover-body&gt;
            &lt;day-popover-footer&gt;
                &lt;day-button [size]="'small'"&gt;Footer popover&lt;/day-button&gt;   
            &lt;/day-popover-footer&gt;
        &lt;/day-popover-content&gt;
    &lt;/day-popover&gt;
            </code></pre></div>
            <day-button [DAYPopover]="dayPopoverDirectiveInject" [DAYPopoverConfig]="popoverConfig">Directive</day-button>
            <day-popover #dayPopoverDirectiveInject>
                <day-popover-content>
                    <day-popover-header>
                        <h3>Popover Inject</h3>
                    </day-popover-header>
                    <day-popover-body>
                        Body popover
                    </day-popover-body>
                    <day-popover-footer>
                        <day-button [size]="'small'">Footer popover</day-button>
                    </day-popover-footer>
                </day-popover-content>
            </day-popover>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code>
    &lt;day-button [DAYPopover]="dayPopoverDirectiveDropdown" 
    [DAYPopoverConfig]="popoverConfigDropdown"&gt;Directive&lt;/day-button&gt;
    &lt;day-popover #dayPopoverDirectiveDropdown&gt;
        &lt;day-popover-content&gt;
            &lt;day-popover-header&gt;
                &lt;h3&gt;Popover Inject&lt;/h3&gt;
            &lt;/day-popover-header&gt;
            &lt;day-popover-body&gt;
                Body popover
            &lt;/day-popover-body&gt;
            &lt;day-popover-footer&gt;
                &lt;day-button [size]="'small'"&gt;Footer popover&lt;/day-button&gt;   
            &lt;/day-popover-footer&gt;
        &lt;/day-popover-content&gt;
    &lt;/day-popover&gt;
            </code></pre></div>
            <day-button [DAYPopover]="dayPopoverDirectiveDropdown" [DAYPopoverConfig]="popoverConfigDropdown">Directive</day-button>
            <day-popover #dayPopoverDirectiveDropdown>
                <day-popover-content>
                    <day-popover-header>
                        <h3>Popover Dropdown</h3>
                    </day-popover-header>
                    <day-popover-body>
                        Body popover
                    </day-popover-body>
                    <day-popover-footer>
                        <day-button [size]="'small'">Footer popover</day-button>
                    </day-popover-footer>
                </day-popover-content>
            </day-popover>

<h2>Custom CSS properties</h2>

@for (table of tables; let i = $index; track i) {
    <h3>{{ table.title }}</h3>
    <day-table [data]="table.data" [displayedColumns]="displayedColumns" [resizableColumns]="true" [selectableRows]="true">
        <ng-template DAYTableActionsTmpl let-item="item" let-index="index">
            <day-icon [DAYToast]="dayToastDirective" icon="day-content-copy" (click)="copyToClipboard(item.name)"/>
        </ng-template>
        <day-table-column [width]="250" name="name" title="Name" [hasActions]="true"/>
        <day-table-column [width]="250" name="description" title="Description"/>
        <day-table-column name="default" title="Default">
            <ng-template DAYTableCellTmpl let-item="item">
                <span [innerHTML]="item.default"></span>
            </ng-template>
        </day-table-column>
    </day-table>
    @if (i < tables.length - 1) { 
        <div> - - - </div>
    }
}
    
<day-toast #dayToastDirective>Text copied to clipboard</day-toast>

<h2>Diferent examples</h2>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code>
    &lt;day-button (click)="showPopoverComponent($event)" size="big"&gt;
        Custom Popover with CustomPosition
    &lt;/day-button&gt;
            </code></pre></div>
          <day-button (click)="showPopoverComponent($event)" size="big">Custom Popover with CustomPosition</day-button>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code>
    &lt;day-button (click)="showPopover($event)" size="big"&gt;
        Show Popover
    &lt;/day-button&gt;
    &lt;day-popover #dayPopover&gt;
        &lt;day-popover-content&gt;
            &lt;day-popover-header&gt;
                &lt;h3&gt;Popover 1 Title&lt;/h3&gt;
            &lt;/day-popover-header&gt;
            &lt;day-popover-body&gt;
                Body popover 1
            &lt;/day-popover-body&gt;
            &lt;day-popover-footer&gt;
                &lt;day-button [size]="'small'"&gt;Text&lt;/day-button&gt;
            &lt;/day-popover-footer&gt;
        &lt;/day-popover-content&gt;

        &lt;day-popover-content&gt;
            &lt;day-popover-header&gt;
                &lt;h3&gt;Popover 1 Title 2&lt;/h3&gt;
            &lt;/day-popover-header&gt;
            &lt;day-popover-body&gt;
                Second body popover 1
            &lt;/day-popover-body&gt;
            &lt;day-popover-footer&gt;
                &lt;day-button [size]="'small'" (click)="closePopover()"&gt;
                    Close
                &lt;/day-button&gt;
                &lt;day-button [size]="'small'" (click)="showPopover2($event)"&gt;   
                    Open other
                &lt;/day-button&gt;
            &lt;/day-popover-footer&gt;
        &lt;/day-popover-content&gt;
    &lt;/day-popover&gt;

    &lt;day-popover #dayPopover2&gt;
        &lt;day-popover-content&gt;
            &lt;day-popover-header&gt;
                &lt;h3&gt;Popover 2 Title&lt;/h3&gt;
            &lt;/day-popover-header&gt;
            &lt;day-popover-body&gt;
                Body popover 2
            &lt;/day-popover-body&gt;
            &lt;day-popover-footer&gt;
                &lt;day-button [size]="'small'"&gt;Button popover 2&lt;/day-button&gt;
            &lt;/day-popover-footer&gt;
        &lt;/day-popover-content&gt;
    &lt;/day-popover&gt;
            </code></pre></div>
            <day-button (click)="showPopover($event)" size="big">Show Popover</day-button>
            <day-popover #dayPopover>
                <day-popover-content>
                    <day-popover-header>
                        <h3>Popover 1 Title</h3>
                    </day-popover-header>
                    <day-popover-body>
                        Body popover 1
                    </day-popover-body>
                    <day-popover-footer>
                        <day-button [size]="'small'">Text</day-button>
                    </day-popover-footer>
                </day-popover-content>

                <day-popover-content>
                    <day-popover-header>
                        <h3>Popover 1 Title 2</h3>
                    </day-popover-header>
                    <day-popover-body>
                        Second body popover 1
                    </day-popover-body>
                    <day-popover-footer>
                        <day-button [size]="'small'" (click)="closePopover()">Close</day-button>
                        <day-button [size]="'small'" (click)="showPopover2($event)">Open other</day-button>
                    </day-popover-footer>
                </day-popover-content>
            </day-popover>
            <day-popover #dayPopover2>
                <day-popover-content>
                    <day-popover-header>
                        <h3>Popover 2 Title</h3>
                    </day-popover-header>
                    <day-popover-body>
                        Body popover 2
                    </day-popover-body>
                    <day-popover-footer>
                        <day-button [size]="'small'">Button popover 2</day-button>
                    </day-popover-footer>
                </day-popover-content>
            </day-popover>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code>
    &lt;day-button [DAYPopover]="dayPopoverDirective" [DAYPopoverConfig]="popoverConfig"&gt;   
        Directive
    &lt;/day-button&gt;
    &lt;day-popover #dayPopoverDirective&gt;
        &lt;day-popover-content&gt;
            &lt;day-popover-header&gt;
                &lt;h3&gt;Popover directive title&lt;/h3&gt;
            &lt;/day-popover-header&gt;
            &lt;day-popover-body&gt;
                Body popover directive
            &lt;/day-popover-body&gt;
            &lt;day-popover-footer&gt;
                &lt;day-button [size]="'small'"&gt;Button popover directive&lt;/day-button&gt;
            &lt;/day-popover-footer&gt;
        &lt;/day-popover-content&gt;
    &lt;/day-popover&gt;
            </code></pre></div>
            <day-button [DAYPopover]="dayPopoverDirective" [DAYPopoverConfig]="popoverConfig">Directive</day-button>
            <day-popover #dayPopoverDirective>
                <day-popover-content>
                    <day-popover-header>
                        <h3>Popover directive title</h3>
                    </day-popover-header>
                    <day-popover-body>
                        Body popover directive
                    </day-popover-body>
                    <day-popover-footer>
                        <day-button [size]="'small'">Button popover directive</day-button>
                    </day-popover-footer>
                </day-popover-content>
            </day-popover>
