<h2>Type</h2>
<div class="p-4 bg-gray-100 rounded-sm my-6">
    <pre>
    &#60;day-dropdown 
        [keyValue]="'id'" 
        [data]="data" 
        [placeholder]="'Choose an animal'" 
        [keyText]="'name'" 
        [type]="'select'" 
        [multiple]="true"
        [showInputs]="false"
        [autoclose]="false"
        [hasSearch]="false"/&#62;
    </pre>
</div>
<day-dropdown [keyValue]="'id'" [data]="data" [placeholder]="'Choose an animal'" [keyText]="'name'" [type]="'select'" [multiple]="true" [showInputs]="false" [autoclose]="false" [hasSearch]="false" />
<div class="p-4 bg-gray-100 rounded-sm my-6">
    <pre>
        &#60;day-dropdown 
            [keyValue]="'id'" 
            [data]="data" 
            [placeholder]="'Choose an animal'" 
            [keyText]="'name'" 
            [type]="'dropdown'" 
            [multiple]="true"
            [showInputs]="false"
            [autoclose]="false"
            [hasSearch]="false"/&#62;
        </pre>
</div>
<day-dropdown [keyValue]="'id'" [data]="data" [placeholder]="'Choose an animal'" [keyText]="'name'" [type]="'dropdown'" [multiple]="true" [showInputs]="false" [autoclose]="false" [hasSearch]="false" />


<h2>Size</h2>
<day-dropdown [keyValue]="'id'" [data]="data" [placeholder]="'Choose an animal'" [keyText]="'name'" [type]="'select'" [multiple]="true" [showInputs]="false" [autoclose]="false" [hasSearch]="false" />
<day-dropdown [keyValue]="'id'" [data]="data" [size]="'small'" [placeholder]="'Choose an animal'" [keyText]="'name'" [type]="'dropdown'" [multiple]="true" [showInputs]="false" [autoclose]="false" [hasSearch]="false"/>
 

<h2>Single selection dropdown</h2>
<day-dropdown 
    [keyValue]="'id'" 
    [data]="data" 
    [size]="'small'"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'" 
    [type]="'dropdown'" 
    [showInputs]="false"
    [hasSearch]="false"/>

<day-dropdown 
    [keyValue]="'id'" 
    [data]="data" 
    [size]="'small'"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'" 
    [type]="'dropdown'" 
    [hasSearch]="false"/>

<day-dropdown 
    [keyValue]="'id'" 
    [data]="data" 
    [size]="'small'"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'" 
    [type]="'dropdown'" 
    [autoclose]="false"
    [hasSearch]="false"/>

<day-dropdown 
    [keyValue]="'id'" 
    [data]="dataToShow()" 
    [size]="'small'"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'" 
    [type]="'dropdown'" 
    [autoclose]="false"
    (searchEvent)="search($event)"/>


<h2>Multiple selection dropdown</h2>


<day-dropdown 
    [keyValue]="'id'" 
    [data]="data" 
    [size]="'small'"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'" 
    [type]="'dropdown'" 
    [showInputs]="false"
    [hasSearch]="false"
    [autoclose]="false"
    [multiple]="true"/>

<day-dropdown 
    [keyValue]="'id'" 
    [data]="dataToShow()" 
    [size]="'small'"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'" 
    [type]="'dropdown'" 
    [hasSearch]="true"
    [autoclose]="false"
    [multiple]="true"
    (searchEvent)="search($event)"/>

<day-dropdown 
    [keyValue]="'id'" 
    [data]="dataToShow()" 
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'" 
    [type]="'dropdown'" 
    [autoclose]="false"
    [multiple]="true">
    <ng-template DAYDropdownSelectionTmpl let-item="item">
        <span>You have chosen {{ item.length }} animals</span> 
    </ng-template>
</day-dropdown>

<day-dropdown 
    [keyValue]="'id'" 
    [data]="dataToShow()" 
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'" 
    [type]="'dropdown'" 
    [autoclose]="false"
    [multiple]="true">
    <ng-template DAYDropdownItemTmpl let-item="item" let-index="index">
        <span>Animal #{{ index + 1 }}: {{item.name}}</span> 
    </ng-template>
</day-dropdown>
 

<h2>Single selection select</h2>
<day-dropdown 
    [keyValue]="'id'" 
    [data]="data" 
    [size]="'small'"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'" 
    [showInputs]="false"
    [hasSearch]="false"/>

<day-dropdown 
    [keyValue]="'id'" 
    [data]="dataToShow()" 
    [size]="'small'"
    [showInputs]="false"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'"
    [hasSearch]="false">
    <ng-template DAYDropdownHeaderTmpl>ANIMALS</ng-template>
</day-dropdown>

<day-dropdown 
    [keyValue]="'id'" 
    [data]="dataToShow()" 
    [size]="'small'"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'"
    [showInputs]="false"
    [hasSearch]="true"
    (searchEvent)="search($event)"/>

<day-dropdown 
    [keyValue]="'id'" 
    [data]="dataToShow()" 
    [size]="'small'"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'"
    [showInputs]="false"
    [hasSearch]="true"
    (searchEvent)="search($event)">
</day-dropdown>


<h2>Multiple selection select</h2>
<day-dropdown 
    [keyValue]="'id'" 
    [data]="data" 
    [size]="'small'"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'" 
    [showInputs]="false"
    [hasSearch]="false"
    [autoclose]="false"
    [multiple]="true"/>

<day-dropdown 
    [keyValue]="'id'" 
    [data]="dataToShow()" 
    [size]="'small'"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'"
    [hasSearch]="false"
    [autoclose]="false"
    [multiple]="true">
</day-dropdown>

<day-dropdown 
    [keyValue]="'id'" 
    [data]="dataToShow()" 
    [size]="'small'"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'"
    [hasSearch]="true"
    [autoclose]="false"
    [multiple]="true"
    (searchEvent)="search($event)"/>

    <div class="p-4 bg-gray-100 rounded-sm my-6">

        <pre>
    
    &#60;day-dropdown 
    [keyValue]="'id'" 
    [data]="dataToShow()" 
    [size]="'small'"
    [placeholder]="'Choose an animal'" 
    [keyText]="'name'" 
    [type]="'select'" 
    [autoclose]="false"
    [multiple]="true"
    [hasSearch]="true"
    (searchEvent)="search($event)"&#62;
    &#60;ng-template DAYDropdownHeaderTmpl&#62;ANIMALS&#60;/ng-template&#62;        
    &#60;/day-dropdown&#62;
        
    Code .ts
    export class DropdownExamplesComponent implements OnInit &#123;
    keyText: string = 'name';
    
    data: any&#91;&#93; = &#91;
        &#123; name: 'Elephant', id: 1 &#125;,
        &#123; name: 'Lion', id: 2 &#125;,
        &#123; name: 'Tiger', id: 3 &#125;,
        &#123; name: 'Bear', id: 4 &#125;,
        &#123; name: 'Wolf', id: 5 &#125;,
        &#123; name: 'Fox', id: 6 &#125;
        &#123; name: 'Dog', id: 7 &#125;,
        &#123; name: 'Cat', id: 8 &#125;,
        &#123; name: 'Turtle', id: 9 &#125;,
        &#123; name: 'Dolphin', id: 10 &#125;
    &#93;;
    
    dataToShow = signal&#60;any&#91;&#93;&#62;(&#91;&#93;);
    
    ngOnInit() &#123;
        this.dataToShow.set(this.data);
    &#125;
    
    search(value: string) &#123;
        this.dataToShow.set(&#91;...this.data&#93;.filter((item) => 
            item&#91;this.keyText&#93;.toLowerCase().includes(value.toLowerCase())));
    &#125;
    &#125;
    </pre>
</div>

<day-dropdown [keyValue]="'id'" [data]="dataToShow()" [size]="'small'" [placeholder]="'Choose an animal'"
    [keyText]="'name'" [hasSearch]="true" [autoclose]="false" [multiple]="true" (searchEvent)="search($event)">
</day-dropdown>


<h2>Group</h2>

<day-dropdown [data]="dataToShowBig()" placeholder="Selecciona un país o ciudad" keyValue="id" keyText="value"
    groupKeyText="value" groupKeyValue="children" [multiple]="true" [autoclose]="false"
    (searchEvent)="search($event)" />

<day-dropdown [data]="groupedDataWithFn" placeholder="Selecciona un continente o país" keyValue="code" keyText="title"
    groupKeyText="groupName" [groupFn]="findDropdownChildren" [multiple]="true" [autoclose]="false" />


<day-dropdown [data]="groupedData" placeholder="Selecciona un país o ciudad" keyValue="id" keyText="value"
    groupKeyText="value" groupKeyValue="children" [multiple]="true" [autoclose]="false">
    <ng-template DAYDropdownGroupTmpl let-group let-isExpanded="isExpanded">
        <div>
            <span> {{ group.value }} </span>
        </div>
    </ng-template>
</day-dropdown>


<h2>Custom CSS properties</h2>

<day-table [data]="cssData" [displayedColumns]="displayedColumns" [resizableColumns]="true" [selectableRows]="true">
    <ng-template DAYTableActionsTmpl let-item="item" let-index="index">
        <day-icon [DAYToast]="dayToastDirective" [icon]="'day-content-copy'" (click)="copyToClipboard(item.name)" />
    </ng-template>
    <day-table-column [width]="200" name="name" title="Name" [hasActions]="true" />
    <day-table-column [width]="230" name="description" title="Description" />
    <day-table-column name="default" title="Default">
        <ng-template DAYTableCellTmpl let-item="item">
            <span [innerHTML]="item.default"></span>
        </ng-template>
    </day-table-column>
</day-table>
<day-toast #dayToastDirective>Text copied to clipboard</day-toast>