
            <div class="p-4 bg-gray-100 rounded-sm"><pre><code>
    &lt;day-button [DAYTooltip]="tooltipString" [DAYTooltipConfig]="tooltipConfig"&gt;   
    Tooltip&lt;/day-button&gt;
            </code></pre></div>
    
            <day-button [DAYTooltip]="tooltipString" [DAYTooltipConfig]="tooltipConfig">Tooltip</day-button>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code>
    &lt;day-icon [icon]="'day-content-copy'" [DAYTooltip]="dayTitle" 
    [DAYTooltipConfig]="tooltipConfigTitle"/&gt;
    &lt;day-tooltip #dayTitle&gt;Esto es un texto para el title que se va a    
    pintar donde esté el ratón&lt;/day-tooltip&gt;
            </code></pre></div>

            <day-icon [icon]="'day-content-copy'" [DAYTooltip]="dayTitle" [DAYTooltipConfig]="tooltipConfigTitle"/>
            <day-tooltip #dayTitle>Esto es un texto para el title que se va a pintar donde esté el ratón</day-tooltip>

<h2>Custom CSS properties</h2>
<p>Styles of day-tooltip can be customized overriding some of their CSS properties.</p>
 

<day-table [data]="data" [displayedColumns]="displayedColumns" [resizableColumns]="true" [selectableRows]="true">
    <ng-template DAYTableActionsTmpl let-item="item" let-index="index">
        <day-icon [DAYToast]="dayToastDirective" class="details-icon show" [icon]="'day-content-copy'" (click)="copyToClipboard(item.name)"/>
    </ng-template>
    <day-table-column name="name" title="Name" [hasActions]="true" [width]="250"/>
    <day-table-column [width]="300" name="description" title="Description"/>
    <day-table-column name="default" title="Default"/>
    <day-toast #dayToastDirective>Text copied to clipboard</day-toast>
</day-table>