<h2>Radio button type</h2>

<h3>Default</h3>
<day-radio-group class="radio-group" [(ngModel)]="selected">
    <day-radio-button value="option1">
        <day-label>Radio button option 1</day-label>
    </day-radio-button>
    <day-radio-button value="option2">
        <day-label>Radio button option 2</day-label>
    </day-radio-button>
</day-radio-group>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-radio-group class="radio-group" [(ngModel)]="selected"&gt;
    &lt;day-radio-button value="option1"&gt;
        &lt;day-label&gt;Radio button option 1&lt;/day-label&gt;
    &lt;/day-radio-button&gt;
    &lt;day-radio-button value="option2"&gt;
        &lt;day-label&gt;Radio button option 2&lt;/day-label&gt;
    &lt;/day-radio-button&gt;
&lt;/day-radio-group&gt;
</code></pre></div>

<h3>Error</h3>
<form [formGroup]="formError">
    <day-radio-group formControlName="radioError">
        <day-radio-button value="error1">
            <day-label>Radio button error</day-label>
        </day-radio-button>
    </day-radio-group>
</form>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;form [formGroup]="formError"&gt;
    &lt;day-radio-group formControlName="radioError"&gt;
        &lt;day-radio-button value="error1"&gt;
            &lt;day-label&gt;Radio button error&lt;/day-label&gt;
        &lt;/day-radio-button&gt;
    &lt;/day-radio-group&gt;
&lt;/form&gt;
</code></pre></div>

<h3>Disabled</h3>
<day-radio-group class="radio-group" [(ngModel)]="selected2" [disabled]="true">
    <day-radio-button value="option1">
        <day-label>Radio button option 1</day-label>
    </day-radio-button>
    <day-radio-button value="option2">
        <day-label>Radio button option 2</day-label>
    </day-radio-button>
</day-radio-group>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-radio-group class="radio-group" [(ngModel)]="selected2" [disabled]="true"&gt;
    &lt;day-radio-button value="option1"&gt;
        &lt;day-label&gt;Radio button option 1&lt;/day-label&gt;
    &lt;/day-radio-button&gt;
    &lt;day-radio-button value="option2"&gt;
        &lt;day-label&gt;Radio button option 2&lt;/day-label&gt;
    &lt;/day-radio-button&gt;
&lt;/day-radio-group&gt;
</code></pre></div>

<h3>LabelPosition</h3>
<day-radio-group class="radio-group" [(ngModel)]="selected4">
    <day-radio-button [labelPosition]="'before'" [value]="'option1'">
        <day-label>Radio button option 1</day-label>
    </day-radio-button>
    <day-radio-button [labelPosition]="'before'" [value]="'option2'">
        <day-label>Radio button option 2</day-label>
    </day-radio-button>
</day-radio-group>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-radio-group class="radio-group" [(ngModel)]="selected4"&gt;
    &lt;day-radio-button [labelPosition]="'before'" [value]="'option1'"&gt;
        &lt;day-label&gt;Radio button option 1&lt;/day-label&gt;
    &lt;/day-radio-button&gt;
    &lt;day-radio-button [labelPosition]="'before'" [value]="'option2'"&gt;
        &lt;day-label&gt;Radio button option 2&lt;/day-label&gt;
    &lt;/day-radio-button&gt;
&lt;/day-radio-group&gt;
</code></pre></div>

 
<h2>FormGroup radio buttons</h2>
<p>
    Use of ReactiveFormsModule to create a form with radio buttons. An example of disabling a radio button via the isDisabled input is also shown.
</p>
<form [formGroup]="form">
    <day-radio-group formControlName="choice">
        <day-radio-button class="day-radio-grey" [value]="'option1'">
            <day-label>Option 1</day-label>
        </day-radio-button>
        <day-radio-button class="day-radio-grey" [value]="'option2'">
            <day-label>Option 2</day-label>
        </day-radio-button>
        <day-radio-button class="day-radio-grey" [value]="'option3'" [isDisabled]="true">
            <day-label>Option 3</day-label>
        </day-radio-button>
    </day-radio-group>
</form>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;form [formGroup]="form"&gt;
    &lt;day-radio-group formControlName="choice"&gt;
        &lt;day-radio-button class="day-radio-grey" [value]="'option1'"&gt;
            &lt;day-label&gt;Option 1&lt;/day-label&gt;
        &lt;/day-radio-button&gt;
        &lt;day-radio-button class="day-radio-grey" [value]="'option2'"&gt;
            &lt;day-label&gt;Option 2&lt;/day-label&gt;
        &lt;/day-radio-button&gt;
        &lt;day-radio-button class="day-radio-grey" [value]="'option3'" [isDisabled]="true"&gt;
            &lt;day-label&gt;Option 3&lt;/day-label&gt;
        &lt;/day-radio-button&gt;
    &lt;/day-radio-group&gt;
&lt;/form&gt;
</code></pre></div>

 
<h2>NgModel radio buttons</h2>
<p>
    Use of FormsModule [(ngModel)] to create a form with radio buttons.
</p>
<day-radio-group [(ngModel)]="selected3">
    <day-radio-button [labelPosition]="'before'" [value]="'option1'">
        <day-label>First option</day-label>
    </day-radio-button>
    <day-radio-button [labelPosition]="'before'" [value]="'option2'">
        <day-label>Second option</day-label>
    </day-radio-button>
</day-radio-group>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-radio-group [(ngModel)]="selected3"&gt;
    &lt;day-radio-button [labelPosition]="'before'" [value]="'option1'"&gt;
        &lt;day-label&gt;First option&lt;/day-label&gt;
    &lt;/day-radio-button&gt;
    &lt;day-radio-button [labelPosition]="'before'" [value]="'option2'"&gt;
        &lt;day-label&gt;Second option&lt;/day-label&gt;
    &lt;/day-radio-button&gt;
&lt;/day-radio-group&gt;
</code></pre></div>

 
<h2>Custom CSS properties</h2>
<p>
    Styles of day-radio-button can be customized overriding some of its CSS properties.<br>
    The invalid and disabled button styles come from the form control.
</p>
<day-table [data]="data" [displayedColumns]="displayedColumns" [resizableColumns]="true" [selectableRows]="true">
    <ng-template DAYTableActionsTmpl let-item="item" let-index="index">
        <day-icon [DAYToast]="dayToastDirective" [icon]="'day-content-copy'" (click)="copyToClipboard(item.name)"/>
    </ng-template>
    <day-table-column name="name" title="Name" [hasActions]="true" [width]="200"/>
    <day-table-column [width]="400" name="description" title="Description"/>
    <day-table-column name="default" title="Default">
        <ng-template DAYTableCellTmpl let-item="item">
            <span [innerHTML]="item.default"></span>
        </ng-template>
    </day-table-column>
    <day-toast #dayToastDirective>Text copied to clipboard</day-toast>
</day-table>
