:host {
    display: block;
    padding: 0 var(--spacing-sm);
    margin: var(--spacing-sm) 0;

    day-radio-group {
        display: flex;
        gap: var(--spacing-m);
        margin-top: var(--spacing-m);
    }
}
