:host {
    display: block;
    padding: 0 var(--spacing-sm);
    margin: var(--spacing-sm) 0;

    day-card {
        width: 780px;

        ::ng-deep .day-tabs-type-toggle {
            margin-top: var(--spacing-xs);

            .day-tab-content-wrapper {
                display: flex;
                justify-content: center;
            }
        }
    }

    day-compound-input {
        margin-top: var(--spacing-sm);
    }
}

day-tab::ng-deep{          
    --tab-max-width: 240px;
}