
<h2>Icon default</h2>
<div class="p-4 bg-gray-100 rounded-sm">
<pre><code>
    &lt;day-icon [icon]=&quot;'day-chat'&quot;/&gt;
</code></pre>
</div>

<div class="flex gap-4">
    <day-icon [icon]="'day-chat'"/>
    <day-icon [icon]="'comment'"/>
    <day-icon [icon]="'comment'"/>
    <day-icon [icon]="'day-error'" [iconHover]="'day-error-solid'"/>
</div>

<h2>Custom CSS properties</h2>

@for (table of tables;  let i = $index; track i) {
    <h3>{{ table.title }}</h3>
    <day-table [data]="table.data" [displayedColumns]="displayedColumns" [resizableColumns]="true" [selectableRows]="true">
        <ng-template DAYTableActionsTmpl let-item="item" let-index="index">
            <day-icon [DAYToast]="dayToastDirective" icon="day-content-copy" (click)="copyToClipboard(item.name)"/>
        </ng-template>
        <day-table-column [width]="250" name="name" title="Name" [hasActions]="true"/>
        <day-table-column [width]="250" name="description" title="Description"/>
        <day-table-column name="default" title="Default">
            <ng-template DAYTableCellTmpl let-item="item">
                <span [innerHTML]="item.default"></span>
            </ng-template>
        </day-table-column>
    </day-table>
    @if (i < tables.length - 1) {
        <div> - - - </div>
    }
}
<day-toast #dayToastDirective>Text copied to clipboard</day-toast>