:host {
    display: block;
    padding: 0 var(--spacing-sm);
    margin: var(--spacing-sm) 0;

    day-card {
        width: 560px;

        ::ng-deep .day-tabs-type-toggle {
            margin-top: var(--spacing-xs);

            .day-tab-content-wrapper {
                display: flex;
                justify-content: center;

            }
        }

        ::ng-deep .day-tabs-wrapper {
            margin-bottom: var(--spacing-sm);
        }

        day-icon {
            margin-top: var(--spacing-s);
        }
    }
}