<h2>Toggle tabs type</h2>

          <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
    &lt;day-tabs&gt;
        &lt;day-tab [active]="true" [tabTmpl]="tab1"&gt;
            &lt;day-icon [icon]="'day-chat'"/&gt;
            &lt;span&gt;First tab&lt;/span&gt;
        &lt;/day-tab&gt;

        &lt;day-tab [tabTmpl]="tab2"&gt;
            Second tab
        &lt;/day-tab&gt;
    &lt;/day-tabs&gt; 
    &lt;ng-template #tab1&gt;
        &lt;p&gt;is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,   
        when an unknown printer took a galley of type and scrambled it to.&lt;/p&gt;
    &lt;/ng-template&gt;

    &lt;ng-template #tab2&gt;
        &lt;div&gt;
            &lt;h3&gt;Title text&lt;/h3&gt;
            &lt;p&gt;is simply dummy text of the printing and typesetting industry.  
            Lorem Ipsum has been the industry's standard.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/ng-template&gt;
          </code></pre></div>

                    <day-icon [icon]="'day-chat'"/>
                    <span>First tab</span>

                    Second tab
                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to.</p>

                <div>
                    <h3>Title text</h3>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                </div>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
    &lt;day-tabs class="light"&gt;
        &lt;day-tab [active]="true" [tabTmpl]="tabLight1"&gt;
            &lt;day-icon [icon]="'day-chat'"/&gt;
            &lt;span&gt;Link light 1&lt;/span&gt;
        &lt;/day-tab&gt;

        &lt;day-tab [tabTmpl]="tabLight2"&gt;
            Link light 2
        &lt;/day-tab&gt;

        &lt;day-tab [tabTmpl]="tabLight3"&gt;
            &lt;day-icon [icon]="'day-message'"/&gt;
            &lt;span&gt;Link light 3&lt;/span&gt;
        &lt;/day-tab&gt;
    &lt;/day-tabs&gt;
    &lt;ng-template #tabLight1&gt;
        &lt;div&gt;
            &lt;h3&gt;Title text&lt;/h3&gt;
            &lt;p&gt;is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/ng-template&gt;

    &lt;ng-template #tabLight2&gt;
        &lt;p&gt;is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to.&lt;/p&gt;
    &lt;/ng-template&gt;

    &lt;ng-template #tabLight3&gt;
        &lt;p&gt;is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to.&lt;/p&gt;
    &lt;/ng-template&gt;
            </code></pre></div>

                    <day-icon [icon]="'day-chat'"/>
                    <span>Link light 1</span>

                    Link light 2

                    <day-icon [icon]="'day-message'"/>
                    <span>Link light 3</span>
                <div>
                    <h3>Title text</h3>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                </div>

                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to.</p>

                <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to.</p>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
    &lt;day-tabs class="light"&gt;
        &lt;day-tab [disabled]="true"&gt;
            Tab disabled 1
        &lt;/day-tab&gt;

        &lt;day-tab [active]="true" [disabled]="true"&gt;  
            Tab disabled 2
        &lt;/day-tab&gt;

        &lt;day-tab [disabled]="true"&gt;
            Tab disabled 3
        &lt;/day-tab&gt;
    &lt;/day-tabs&gt;
            </code></pre></div>

                    Tab disabled 1

                    Tab disabled 2

                    Tab disabled 3
 

<h2>Tabular tabs with links</h2>
      
          <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
    &lt;day-tabs [type]="'tabular'"&gt;
        &lt;day-tab [link]="'/structure/tabs/test-page'"&gt;
            Link test
        &lt;/day-tab&gt;

        &lt;day-tab [link]="'/structure/tabs/test2-page'"&gt;  
            Link test 2
        &lt;/day-tab&gt;
    &lt;/day-tabs&gt;
    &lt;router-outlet&gt;&lt;/router-outlet&gt;
          </code></pre></div>

                    Link test

                    Link test 2
        <router-outlet></router-outlet>
 

<h2>Custom CSS properties</h2>
<day-table [data]="data" [displayedColumns]="displayedColumns" [resizableColumns]="true" [selectableRows]="true">
    <ng-template DAYTableActionsTmpl let-item="item" let-index="index">
        <day-icon [DAYToast]="dayToastDirective" [icon]="'day-content-copy'" (click)="copyToClipboard(item.name)"/>
    </ng-template>
    <day-table-column [width]="200" name="name" title="Name" [hasActions]="true"/>
    <day-table-column [width]="230" name="description" title="Description"/>
    <day-table-column name="default" title="Default">
        <ng-template DAYTableCellTmpl let-item="item">
            <span [innerHTML]="item.default"></span>
        </ng-template>
    </day-table-column>
</day-table>
<day-toast #dayToastDirective>Text copied to clipboard</day-toast>
