:host {
    display: block;
    padding: 0 var(--spacing-sm);
    margin: var(--spacing-sm) 0;

    day-card {
        width: 800px;

        ::ng-deep .day-tab-content-wrapper {
            display: flex;
            justify-content: center;
        }
    }

    day-tree {
        margin-top: var(--spacing-sm);
    } 
}