<h2>Tree</h2>
<div class="p-4 bg-gray-100 rounded-sm">
    <pre ngNonBindable><code>
    &#60;day-tree [data]="childItemsData" [childItems]="findItemChildren"&#62;
        &#60;ng-template DAYTreeItemTmpl let-node="item" let-level="level"&#62;
            &#60;span&#62;{{ node.name }}&#60;/span&#62;
        &#60;/&#60;ng-template&#62;
    &#60;/day-tree&#62;
            </code></pre>
</div>
<day-tree [data]="childItemsData" [childItems]="findItemChildren">
    <ng-template DAYTreeItemTmpl let-node="item" let-level="level">
        <span>{{ node.name }}</span>
    </ng-template>
</day-tree>

<div class="p-4 bg-gray-100 rounded-sm">
    <pre><code>
    &#60;day-tree [data]="treeData" [childProperty]="'children'" [nameProperty]="'name'"/&#62;
            </code></pre>
</div>
<day-tree [data]="treeData" [childProperty]="'children'" [nameProperty]="'name'"/>

<h2>Custom CSS properties</h2>
<p>Styles of day-tree can be customized overriding some of their CSS properties.</p>
<day-table [data]="data" [displayedColumns]="displayedColumns" [resizableColumns]="true" [selectableRows]="true">
    <ng-template DAYTableActionsTmpl let-item="item" let-index="index">
        <day-icon [DAYToast]="dayToastDirective" [icon]="'day-content-copy'" (click)="copyToClipboard(item.name)"/>
    </ng-template>
    <day-table-column [width]="200" name="name" title="Name" [hasActions]="true"/>
    <day-table-column [width]="300" name="description" title="Description"/>
    <day-table-column name="default" title="Default">
        <ng-template DAYTableCellTmpl let-item="item">
            <span [innerHTML]="item.default"></span>
        </ng-template>
    </day-table-column>
</day-table>
<day-toast #dayToastDirective>Text copied to clipboard</day-toast>