:host {
    display: block;
    padding: 0 var(--spacing-sm);
    margin: var(--spacing-sm) 0;

    day-card {
        width: 460px;

        day-tabs {
            margin-top: var(--spacing-s);

            day-tab {
                day-icon {
                    margin-right: var(--spacing-xs);
                }
            }

            ::ng-deep .day-tab-content-wrapper {
                display: flex;
                justify-content: center;

                h3 {
                    margin: var(--spacing-xs) 0;
                }
            }
        }
    }
}