<h1>Tabs component</h1>
<p>
    The component <code>&lt;day-tabs&gt;</code> and <code>&lt;day-tab&gt;</code> is a container for tabbed navigation, allowing users to switch between different views or content sections.
</p>

<h2>Import</h2>
<p>
    <code>import &#123; DAYTabsComponent &#125; and &#123; DAYTabComponent &#125; from '&#64;dayerlin-bustamante/tabs';</code>
</p>
<div class="line-divider"></div>

<h2>Selectors</h2>
<p>Tabs: <code>day-tabs</code></p>
<p>Tab: <code>day-tab</code></p>

<h2>Installation and Usage</h2>
<div class="p-4 bg-gray-100 rounded-sm">
    <pre><code>npm install @dayerlin-bustamante/tabs</code></pre>
    <br>
    <pre><code>import {{ '{' }} DAYTabsComponent, DAYTabComponent {{ '}' }} from '@dayerlin-bustamante/tabs';</code></pre>
    <br>
    <pre><code>&lt;day-tabs&gt;
    &lt;day-tab [active]="true" [tabTmpl]="content"&gt;Tab 1&lt;/day-tab&gt;
&lt;/day-tabs&gt;</code></pre>
</div>
<div class="line-divider"></div>

<h2>Inputs</h2>
<h3>DAYTabsComponent</h3>
<day-table [data]="dataInputsTabs" [displayedColumns]="displayedColumns" [resizableColumns]="true">
    <day-table-column [width]="400" name="name" title="Name" />
    <day-table-column [width]="230" name="description" title="Description" />
    <day-table-column name="default" title="Default" />
</day-table>

<h3>DAYTabComponent</h3>
<day-table [data]="dataInputsTab" [displayedColumns]="displayedColumns" [resizableColumns]="true">
    <day-table-column [width]="300" name="name" title="Name" />
    <day-table-column [width]="230" name="description" title="Description" />
    <day-table-column name="default" title="Default" />
</day-table>
<div class="line-divider"></div>

<h2>Outputs</h2>
<p>Not included</p>
<div class="line-divider"></div>

<h2>Computes and internal events</h2>
<day-table [data]="dataComputedEvents" [displayedColumns]="displayedColumns" [resizableColumns]="true">
    <day-table-column [width]="300" name="name" title="Name" />
    <day-table-column [width]="230" name="description" title="Description" />
    <day-table-column name="default" title="Default" />
</day-table>
<div class="line-divider"></div>

<h2>Directives</h2>
<p>Not included</p>
<div class="line-divider"></div>

<h2>Public methods</h2>
<day-table [data]="dataMethodsTabs" [displayedColumns]="displayedColumns" [resizableColumns]="true">
    <day-table-column [width]="300" name="name" title="Name" />
    <day-table-column [width]="230" name="description" title="Description" />
    <day-table-column name="default" title="Default" />
</day-table>
<div class="line-divider"></div>

<h2>Dependencies</h2>
<p>
    <code>'&#64;day/core'</code>
</p>
<div class="line-divider"></div>

<h2>Example</h2>
<day-card shadow="small">
    <day-card-body>
        <day-tabs class="light">
            <day-tab [tabTmpl]="html">Html</day-tab>
            <day-tab [active]="true" [tabTmpl]="demo">Demo</day-tab>
        </day-tabs>

        <ng-template #html>
            <pre><code class="code-html">
    &lt;day-tabs&gt;
        &lt;day-tab [active]="true" [tabTmpl]="tab1"&gt;
            &lt;day-icon [icon]="'day-chat'" /&gt;    
            &lt;span&gt;Tab 1&lt;/span&gt;
        &lt;/day-tab&gt;

        &lt;ng-template #tab1&gt;
            &lt;h3&gt;Section link tab 1&lt;/h3&gt;
        &lt;/ng-template&gt;

        &lt;day-tab [tabTmpl]="tab2"&gt;
            Tab 2 with large content
        &lt;/day-tab&gt;

        &lt;ng-template #tab2&gt;
            &lt;div&gt;
                &lt;h3&gt;Section link tab 2&lt;/h3&gt;
                &lt;p&gt;Párrafo tab 2&lt;/p&gt;
            &lt;/div&gt;
        &lt;/ng-template&gt;
    &lt;/day-tabs&gt;
            </code></pre>
        </ng-template>

        <ng-template #demo>
            <day-tabs>
                <day-tab [active]="true" [tabTmpl]="tab1">
                    <day-icon [icon]="'day-chat'" />
                    <span>Tab 1</span>
                </day-tab>

                <ng-template #tab1>
                    <h3>Section link tab 1</h3>
                </ng-template>

                <day-tab [tabTmpl]="tab2">
                    Tab 2 with large content
                </day-tab>

                <ng-template #tab2>
                    <div>
                        <h3>Section link tab 2</h3>
                        <p>Párrafo tab 2</p>
                    </div>
                </ng-template>
            </day-tabs>
        </ng-template>
    </day-card-body>
</day-card>
<div class="line-divider"></div>

<h2>Description</h2>
<ul>
    <li><strong>&lt;day-tabs&gt;</strong> is a container used to manage multiple child tabs (&lt;day-tab&gt;).</li>
    <li>It supports two display types: <code>'toggle'</code> and <code>'tabular'</code>, configurable via the
        <code>type</code> input.</li>
    <li>It dynamically detects and manages all child tabs using <code>contentChildren</code>.</li>
    <li>The active tab is determined through a <code>computed</code> property that finds the first tab with
        <code>isActive = true</code>.</li>
    <li>The <code>setActiveLink(tab)</code> method allows manually setting a tab as active, deactivating the others.
    </li>
    <li><strong>&lt;day-tab&gt;</strong> represents an individual tab, which can contain a custom template and an
        optional link.</li>
    <li>The <code>active</code> state is reactive using <code>linkedSignal</code> and can be controlled externally.</li>
    <li>A tab can be disabled via the <code>disabled</code> input, applying a conditional CSS class.</li>
    <li>It uses <code>RouterLink</code> and <code>RouterLinkActive</code> to support navigation when the tab includes a
        link.</li>
    <li>In the <code>ngAfterViewChecked</code> lifecycle hook, it checks if the internal anchor has the
        <code>active</code> class from the router and updates the tab's active state accordingly.</li>
</ul>
