<h2>Overlay</h2>

<div class="p-4 bg-gray-100 rounded-sm">
    <pre><code>
    &#60;day-slide #daySlide&#62;
        &#60;day-slide-header&#62;
            &#60;h3&#62; Title&#60;/h3&#62;
        &#60;/day-slide-header&#62;
        &#60;day-slide-body&#62;
            &#60;p&#62;Body&#60;/p&#62;
        &#60;/day-slide-body&#62;
        &#60;day-slide-footer&#62;
            &#60;day-button (click)="closeSlide()" [size]="'small'"&#62;Close&#60;/day-button&#62;  
        &#60;/day-slide-footer&#62;
    &#60;/day-slide&#62;
            </code></pre>
</div>
<div class="p-4 bg-gray-100 rounded-sm">
    <pre ngNonBindable><code>
const slideConfig: DAYSlideConfiguration = &#123;
    overlay: true,
&#125;;    
            </code></pre>
</div>
<ng-container>
    <day-button (click)="showSlideWithOverlayTmpl()" size="big">Show slide</day-button>
</ng-container>
<day-slide #daySlideWithOverlay>
    <day-slide-header>
        <h3>Title</h3>
    </day-slide-header>
    <day-slide-body>
        <p>Body</p>
    </day-slide-body>
    <day-slide-footer>
        <day-button (click)="closeSlide()" [size]="'small'">Close</day-button>
    </day-slide-footer>
</day-slide>

<div class="p-4 bg-gray-100 rounded-sm">
    <pre><code>
    &#60;day-slide #daySlide&#62;
        &#60;day-slide-header&#62;
            &#60;h3&#62; Title&#60;/h3&#62;
        &#60;/day-slide-header&#62;
        &#60;day-slide-body&#62;
            &#60;p&#62;Body&#60;/p&#62;
        &#60;/day-slide-body&#62;
        &#60;day-slide-footer&#62;
            &#60;day-button (click)="closeSlide()" [size]="'small'"&#62;Close&#60;/day-button&#62;  
        &#60;/day-slide-footer&#62;
    &#60;/day-slide&#62;

            </code></pre>
</div>
<div class="p-4 bg-gray-100 rounded-sm">
    <pre ngNonBindable><code>
const slideConfig: DAYSlideConfiguration = &#123;
    overlay: false,
&#125;;    
            </code></pre>
</div>
<ng-container>
    <day-button (click)="showSlideWithoutOverlayTmpl()" size="big">Show slide</day-button>
</ng-container>
<day-slide #daySlideWithoutOverlay>
    <day-slide-header>
        <h3>Title</h3>
    </day-slide-header>
    <day-slide-body>
        <p>Body</p>
    </day-slide-body>
    <day-slide-footer>
        <day-button (click)="closeSlide()" [size]="'small'">Close</day-button>
    </day-slide-footer>
</day-slide>

 
<h2>Resize</h2>

<div class="p-4 bg-gray-100 rounded-sm">
    <pre><code>
    &#60;day-slide #daySlide&#62;
        &#60;day-slide-header&#62;
            &#60;h3&#62; Title&#60;/h3&#62;
        &#60;/day-slide-header&#62;
        &#60;day-slide-body&#62;
            &#60;p&#62;Body&#60;/p&#62;
        &#60;/day-slide-body&#62;
        &#60;day-slide-footer&#62;
            &#60;day-button (click)="closeSlide()" [size]="'small'"&#62;Close&#60;/day-button&#62;  
        &#60;/day-slide-footer&#62;
    &#60;/day-slide&#62;
            </code></pre>
</div>
<div class="p-4 bg-gray-100 rounded-sm">
<pre ngNonBindable><code>
const slideConfig: DAYSlideConfiguration = &#123;
    resize: true,
&#125;;    
            </code></pre>
</div>
<ng-container>
    <day-button (click)="showSlideWithResizeTmpl()" size="big">Show slide</day-button>
</ng-container>
<day-slide #daySlideWithResize>
    <day-slide-header>
        <h3>Title</h3>
    </day-slide-header>
    <day-slide-body>
        <p>Body</p>
    </day-slide-body>
    <day-slide-footer>
        <day-button (click)="closeSlide()" [size]="'small'">Close</day-button>
    </day-slide-footer>
</day-slide>

<div class="p-4 bg-gray-100 rounded-sm">
    <pre><code>
    &#60;day-slide #daySlide&#62;
        &#60;day-slide-header&#62;
            &#60;h3&#62; Title&#60;/h3&#62;
        &#60;/day-slide-header&#62;
        &#60;day-slide-body&#62;
            &#60;p&#62;Body&#60;/p&#62;
        &#60;/day-slide-body&#62;
        &#60;day-slide-footer&#62;
            &#60;day-button (click)="closeSlide()" [size]="'small'"&#62;Close&#60;/day-button&#62;  
        &#60;/day-slide-footer&#62;
    &#60;/day-slide&#62;
            </code></pre>
</div>
<div class="p-4 bg-gray-100 rounded-sm">
<pre ngNonBindable><code>
const slideConfig: DAYSlideConfiguration = &#123;
    resize: false,
&#125;;
            </code></pre>
</div>
<ng-container>
    <day-button (click)="showSlideWithoutResizeTmpl()" size="big">Show slide</day-button>
</ng-container>
<day-slide #daySlideWithoutResize>
    <day-slide-header>
        <h3>Title</h3>
    </day-slide-header>
    <day-slide-body>
        <p>Body</p>
    </day-slide-body>
    <day-slide-footer>
        <day-button (click)="closeSlide()" [size]="'small'">Close</day-button>
    </day-slide-footer>
</day-slide>

 
<h2>Custom CSS properties</h2>
<day-table [data]="data" [displayedColumns]="displayedColumns" [resizableColumns]="true" [selectableRows]="true">
    <ng-template DAYTableActionsTmpl let-item="item" let-index="index">
        <day-icon [DAYToast]="dayToastDirective" [icon]="'day-content-copy'" (click)="copyToClipboard(item.name)"/>
    </ng-template>
    <day-table-column [width]="200" name="name" title="Name" [hasActions]="true"/>
    <day-table-column [width]="230" name="description" title="Description"/>
    <day-table-column name="default" title="Default">
        <ng-template DAYTableCellTmpl let-item="item">
            <span [innerHTML]="item.default"></span>
        </ng-template>
    </day-table-column>
</day-table>
<day-toast #dayToastDirective>Text copied to clipboard</day-toast>