<p>The <code>&lt;day-tooltip&gt;</code> with the <code>DAYTooltipTriggerDirective</code> form an advanced, customizable
    tooltip system in Angular, handling positioning, sizing, animations, and dynamic behavior based on configuration.
</p>

<div class="line-divider"></div>
<h2>Dependencies</h2>
<p><code>'&#64;day/core'</code></p>

<div class="line-divider"></div>
<h2>Import</h2>
<p>
    <code>import &#123; DAYTooltipComponent &#125; from '&#64;day/tooltip';</code><br>
    <code>import &#123; DAYTooltipTriggerDirective &#125; from '&#64;day/tooltip';</code>
</p>

<div class="line-divider"></div>
<h2>Selectors</h2>
<p>Tooltip: <code>day-tooltip</code></p>
<p>Tooltip directive: <code>[DAYTooltip]</code></p>

<div class="line-divider"></div>
<h2>Inputs directive</h2>
<day-table [data]="dataInputsDirective" [displayedColumns]="displayedColumns" [resizableColumns]="true">
    <day-table-column [width]="400" name="name" title="Name" />
    <day-table-column [width]="300" name="description" title="Description" />
    <day-table-column name="default" title="Default" />
</day-table>

<div class="line-divider"></div>
<h2>Output</h2>
<div>Not included</div>

<div class="line-divider"></div>
<h2>Directives</h2>
<p>The DAYTooltipTriggerDirective <code>([DAYTooltip])</code> attaches to any element to handle tooltip display and lifecycle. It merges default settings with optional inputs (DAYTooltipConfig, DAYTooltipBondedElement) and reacts to mouse events to show either a classic hover tooltip or a cursor-following title. Tooltips are created via DAYTooltipService and tracked through DAYDialogRef, while reactive primitives (computed, BehaviorSubject, effect) and takeUntilDestroyed ensure dynamic configuration, customizable delays, and safe cleanup.</p>

<div class="line-divider"></div>
<h2>Public methods</h2>
<div>Not included</div>

<div class="line-divider"></div>
<h2>Example</h2>
<day-card shadow="small">
    <day-card-body>
        <day-tabs class="light">
            <day-tab [tabTmpl]="html">Html</day-tab>
            <day-tab [active]="true" [tabTmpl]="demo">Demo</day-tab>
        </day-tabs>

        <ng-template #html>
            <pre><code>
    &lt;day-button [DAYTooltip]="tooltipString" [DAYTooltipConfig]="tooltipConfig"&gt;    
        Tooltip Directive
    &lt;/day-button&gt;
            </code></pre>
        </ng-template>

        <ng-template #demo>
        <day-button [DAYTooltip]="tooltipString" [DAYTooltipConfig]="tooltipConfig">Tooltip Directive</day-button>
        </ng-template>

    </day-card-body>
</day-card>

<div class="line-divider"></div>
<h2>Description</h2>

<p>The DAYTooltip system combines a directive and a container component to deliver a reactive, customizable tooltip in Angular.</p>

<ul>
    <li>The directive manages user interactions (mouseenter, mouseleave, mousemove) and creates/destroys tooltips via DAYTooltipService.</li>
    <li> The container handles rendering, positioning, and animations, using signals, ResizeObserver, and CSS variables for dynamic sizing and alignment.
    </li>
    <li>Supports two modes: classic tooltip (hover-based) and floating title (cursor-follow).
    </li>
    <li>Positioning logic ensures viewport fit (top, bottom, left, center, right) with bonded element support.</li>
    <li>Animations are powered by Angular’s AnimationBuilder with fade in/out effects.</li>
    <li>State and cleanup are managed reactively with BehaviorSubject, computed, and takeUntilDestroyed</li>
</ul>