<h1>Button component</h1>
<p>
    <code>DAYButtonComponent</code> is a standalone Angular component that renders a styled <code>&lt;button&gt;</code>
    element.
    It is part of the <code>@dayerlin-bustamante/button</code> library and supports multiple visual types, sizes, and
    content projection.
</p>

<h2>Selectors</h2>
<p>Button: <code>day-button</code></p>

<h2>Installation and Usage</h2>
<div class="p-4 bg-gray-100 rounded-sm">
    <pre><code>npm install @dayerlin-bustamante/button</code></pre>
    <br>
    <pre><code>import {{ '{' }} DAYButtonComponent {{ '}' }} from '@dayerlin-bustamante/button';</code></pre>
    <br>
    <pre><code>&lt;day-button type="primary" size="medium"&gt;
        ¡Click here!
&lt;/day-button&gt;</code></pre>
</div>

<p class="mt-4">
    The component uses content projection (<code>&lt;ng-content&gt;</code>), so any content
    (text, icons, or other elements) can be placed inside the button.
</p>
<br>
<day-button size="big" type="secondary">¡Click here!</day-button>

<h2>Inputs</h2>
<day-table [data]="data" [displayedColumns]="displayedColumns" [resizableColumns]="true">
    <day-table-column [width]="400" name="name" title="Name" />
    <day-table-column [width]="230" name="description" title="Description" />
    <day-table-column name="default" title="Default" />
</day-table>

<h2>Outputs</h2>
<p>Not included</p>

<h2>Directives</h2>
<p>Not included</p>

<h2>Public methods</h2>
<p>Not included</p>
