<day-button size="big" type="primary">¡Click here!</day-button>
<day-button size="big" type="secondary">¡Click here!</day-button>
<day-button size="big" type="tertiary">¡Click here!</day-button>
<day-button size="big" type="action">¡Click here!</day-button>
<day-button size="big" type="clear">¡Click here!</day-button>
<day-button size="big" type="neutral">¡Click here!</day-button>
<day-button disabled size="big" type="primary">¡Click here!</day-button>


<day-button size="big" type="primary">
    <day-icon [icon]="'trash'"></day-icon>
    ¡Click here!
</day-button>

<day-button size="big" type="primary">
    ¡Click here!
    <day-icon [icon]="'trash'"></day-icon>
</day-button>