<div class="p-4 bg-gray-100 rounded-sm">
    <pre>
    &#60;div [formGroup]="formGroup" class="input-wrapper" #bonded3&#62;
        &#60;day-input formControlName="formControl" placeholder="Enter text"&#62; 
            &#60;day-label&#62;Label example&#60;/day-label&#62;
        &#60;/day-input&#62;
    &#60;/div&#62;
            </pre>
<pre ngNonBindable><code>
 formGroup: FormGroup &#61; new FormGroup&#40;&#123;
    formControl: new FormControl&#40;null, Validators.required&#41; 
 &#125;&#41;   
            </code></pre>
</div>

<div [formGroup]="formGroup" class="input-wrapper" #bonded3>
    <day-textarea formControlName="formControl" placeholder="Enter text">
        <day-label>Label example</day-label>
    </day-textarea>
</div>
<div class="p-4 bg-gray-100 rounded-sm">
<pre>
    &#60;div [formGroup]=&#34;formGroup&#34; class=&#34;input-wrapper&#34; #bonded3&#62;
        &#60;day-input formControlName=&#34;formControlDisabled&#34; placeholder=&#34;Enter text&#34;&#62; 
            &#60;day-label&#62;Label example&#60;/day-label&#62;
        &#60;/day-input&#62;
    &#60;/div&#62;
            </pre>

<pre ngNonBindable><code>
 formGroup: FormGroup &#61; new FormGroup&#40;&#123;
    formControlDisabled: new FormControl&#40;&#123; value: null, disabled: true &#125;, Validators.required&#41; 
 &#125;&#41;   
            </code></pre>
</div>

<div [formGroup]="formGroup" class="input-wrapper" #bonded3>
    <day-textarea formControlName="formControlDisabled" placeholder="Enter text">
        <day-label>Label example</day-label>
    </day-textarea>
</div>
<h2>Custom CSS properties</h2>
<day-table [data]="data" [displayedColumns]="displayedColumns" [resizableColumns]="true" [selectableRows]="true">
    <ng-template DAYTableActionsTmpl let-item="item" let-index="index">
        <day-icon [DAYToast]="dayToastDirective" [icon]="'day-content-copy'" (click)="copyToClipboard(item.name)"/>
    </ng-template>
    <day-table-column [width]="250" name="name" title="Name" [hasActions]="true"/>
    <day-table-column [width]="230" name="description" title="Description"/>
    <day-table-column name="default" title="Default">
        <ng-template DAYTableCellTmpl let-item="item">
            <span [innerHTML]="item.default"></span>
        </ng-template>
    </day-table-column>
</day-table>
<day-toast #dayToastDirective>Text copied to clipboard</day-toast>