<h2>Input state</h2>




            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
  &lt;div [formGroup]="formGroupDefault" class="input-wrapper"&gt;
    &lt;day-input formControlName="formControlDefault" placeholder="Enter value"&gt;  
        &lt;day-label&gt;Label default&lt;/day-label&gt;
    &lt;/day-input&gt;
  &lt;/div&gt;
            </code></pre></div>

            <div [formGroup]="formGroupDefault" class="input-wrapper">
                <day-input formControlName="formControlDefault" placeholder="Enter value">
                    <day-label>Label default</day-label>
                </day-input>
            </div>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
  &lt;div [formGroup]="formGroupDefault" class="inputs-container"&gt;
    &lt;day-input formControlName="formControlError" placeholder="Enter value"&gt;
      &lt;day-label&gt;Label error&lt;/day-label&gt;
    &lt;/day-input&gt;

    &lt;day-input formControlName="formControlError2" placeholder="Enter value"&gt;  
      &lt;day-label&gt;
        &lt;span class="label"&gt;Label error tooltip&lt;/span&gt;
        &lt;day-icon 
          [icon]="'day-error'" 
          [DAYTooltip]="'Mensaje de error'" 
          [DAYTooltipConfig]="tooltipConfig"/&gt;
      &lt;/day-label&gt;
    &lt;/day-input&gt;
  &lt;/div&gt;
            </code></pre></div>

            <div [formGroup]="formGroupDefault" class="inputs-container">
                <day-input formControlName="formControlError" placeholder="Enter value">
                    <day-label>Label error</day-label>
                </day-input>

                <day-input formControlName="formControlError2" placeholder="Enter value">
                    <day-label>
                        <span class="label">Label error tooltip</span>
                        <day-icon [icon]="'day-error'" [DAYTooltip]="'Mensaje de error'" [DAYTooltipConfig]="tooltipConfig"/>
                    </day-label>
                </day-input>
            </div>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
  &lt;div [formGroup]="formGroupDefault" class="input-wrapper"&gt;
    &lt;day-input formControlName="formControlDisabled" placeholder="Enter value"&gt;  
      &lt;day-label&gt;Label disabled&lt;/day-label&gt;
    &lt;/day-input&gt;
  &lt;/div&gt;
            </code></pre></div>

            <div [formGroup]="formGroupDefault" class="input-wrapper">
                <day-input formControlName="formControlDisabled" placeholder="Enter value">
                    <day-label>Label disabled</day-label>
                </day-input>
            </div>

 
<h2>Input type</h2>







            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
  &lt;div [formGroup]="formGroup" class="input-wrapper"&gt;
    &lt;day-input [id]="'1'" formControlName="formControlText" 
    placeholder="Enter text value"&gt;
      &lt;day-label&gt;Label example&lt;/day-label&gt;
    &lt;/day-input&gt;
  &lt;/div&gt;
            </code></pre></div>

            <div [formGroup]="formGroup" class="input-wrapper">
                <day-input [id]="'1'" formControlName="formControlText" placeholder="Enter text value">
                    <day-label>Label example</day-label>
                </day-input>
            </div>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
  &lt;div [formGroup]="formGroup" class="input-wrapper"&gt;
    &lt;day-input formControlName="formControlNumber" placeholder="Enter number value" 
    [type]="'number'"&gt;
      &lt;day-label&gt;Label example&lt;/day-label&gt;
    &lt;/day-input&gt;
  &lt;/div&gt;
            </code></pre></div>

            <div [formGroup]="formGroup" class="input-wrapper">
                <day-input formControlName="formControlNumber" placeholder="Enter number value" [type]="'number'">
                    <day-label>Label example</day-label>
                </day-input>
            </div>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
  &lt;div [formGroup]="formGroup" class="input-wrapper"&gt;
    &lt;day-input formControlName="formControlEmail" placeholder="Enter email value"  
    [type]="'email'"&gt;
      &lt;day-label&gt;Label example&lt;/day-label&gt;
    &lt;/day-input&gt;
  &lt;/div&gt;
            </code></pre></div>

            <div [formGroup]="formGroup" class="input-wrapper">
                <day-input formControlName="formControlEmail" placeholder="Enter email value" [type]="'email'">
                    <day-label>Label example</day-label>
                </day-input>
            </div>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
  &lt;div [formGroup]="formGroup" class="input-wrapper"&gt;
    &lt;day-input formControlName="formControlPassword" placeholder="Enter password value"  [type]="'password'"&gt;
      &lt;day-label&gt;Label example&lt;/day-label&gt;
    &lt;/day-input&gt;
  &lt;/div&gt;
            </code></pre></div>

            <div [formGroup]="formGroup" class="input-wrapper">
                <day-input formControlName="formControlPassword" placeholder="Enter password value" [type]="'password'">
                    <day-label>Label example</day-label>
                </day-input>
            </div>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
  &lt;div [formGroup]="formGroup" class="input-wrapper"&gt;
    &lt;day-input formControlName="formControlTel" placeholder="Enter telephone value"   
    [type]="'tel'"&gt;
      &lt;day-label&gt;Label example&lt;/day-label&gt;
    &lt;/day-input&gt;
  &lt;/div&gt;
            </code></pre></div>

            <div [formGroup]="formGroup" class="input-wrapper">
                <day-input formControlName="formControlTel" placeholder="Enter telephone value" [type]="'tel'">
                    <day-label>Label example</day-label>
                </day-input>
            </div>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
  &lt;div [formGroup]="formGroup" class="input-wrapper"&gt;
    &lt;day-input formControlName="formControlUrl" placeholder="Enter URL value" 
    [type]="'url'"&gt;
      &lt;day-label&gt;Label example&lt;/day-label&gt;
    &lt;/day-input&gt;
  &lt;/div&gt;
            </code></pre></div>

            <div [formGroup]="formGroup" class="input-wrapper">
                <day-input formControlName="formControlUrl" placeholder="Enter URL value" [type]="'url'">
                    <day-label>Label example</day-label>
                </day-input>
            </div>

 
<h2>Input size</h2>



            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
    &lt;div [formGroup]="formGroupSize" class="input-wrapper"&gt;
        &lt;day-input formControlName="formControlMedium" placeholder="Enter value"&gt;
            &lt;day-label&gt;Label medium&lt;/day-label&gt;
        &lt;/day-input&gt;
    &lt;/div&gt;
            </code></pre></div>

            <div [formGroup]="formGroupSize" class="input-wrapper">
                <day-input formControlName="formControlMedium" placeholder="Enter value">
                    <day-label>Label medium</day-label>
                </day-input>
            </div>

            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
    &lt;div [formGroup]="formGroupSize" class="inputs-container"&gt;
        &lt;day-input formControlName="formControlBig" placeholder="Enter value" size="big"&gt;
            &lt;day-label&gt;Label big&lt;/day-label&gt;
        &lt;/day-input&gt;
    &lt;/div&gt;
            </code></pre></div>

            <div [formGroup]="formGroupSize" class="inputs-container">
                <day-input formControlName="formControlBig" placeholder="Enter value" size="big">
                    <day-label>Label big</day-label>
                </day-input>
            </div>

 
<h2>Input with icons</h2>


            <div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
    &lt;div [formGroup]="formGroupIcons"&gt;
        &lt;div class="inputs-container"&gt;
            &lt;day-input formControlName="formControl" placeholder="Enter text"&gt;
                &lt;day-icon [icon]="'day-mail'" DAYSlot="left"/&gt;
            &lt;/day-input&gt;

            &lt;day-input formControlName="formControl" placeholder="Enter text"&gt;
                &lt;day-icon [icon]="'day-mail'" DAYSlot="left"/&gt;
                &lt;day-icon [icon]="'day-chevron-down'" DAYSlot="right"/&gt;      
            &lt;/day-input&gt;

            &lt;day-input formControlName="formControl" placeholder="Enter text"&gt;
                &lt;day-icon [icon]="'day-mail'" DAYSlot="left"/&gt;
                &lt;span DAYSlot="right"&gt;MW&lt;/span&gt;
            &lt;/day-input&gt;
        &lt;/div&gt;

        &lt;div class="inputs-container"&gt;
            &lt;day-input formControlName="formControl" placeholder="Enter text"&gt;
                &lt;span DAYSlot="right"&gt;MW&lt;/span&gt;
            &lt;/day-input&gt;

            &lt;day-input formControlName="formControl" placeholder="Enter text"&gt;
                &lt;day-icon [icon]="'day-chevron-down'" DAYSlot="right"/&gt;
            &lt;/day-input&gt;
        &lt;/div&gt;
    &lt;/div&gt;
            </code></pre></div>

            <div [formGroup]="formGroupIcons">
                <div class="inputs-container">
                    <day-input formControlName="formControl" placeholder="Enter text">
                        <day-icon [icon]="'day-mail'" DAYSlot="left"/>
                    </day-input>
    
                    <day-input formControlName="formControl" placeholder="Enter text">
                        <day-icon [icon]="'day-mail'" DAYSlot="left"/>
                        <day-icon [icon]="'day-chevron-down'" DAYSlot="right"/>
                    </day-input>
    
                    <day-input formControlName="formControl" placeholder="Enter text">
                        <day-icon [icon]="'day-mail'" DAYSlot="left"/>
                        <span DAYSlot="right">MW</span>
                    </day-input>
                </div>

                <div class="inputs-container">
                    <day-input formControlName="formControl" placeholder="Enter text">
                        <span DAYSlot="right">MW</span>
                    </day-input>
    
                    <day-input formControlName="formControl" placeholder="Enter text">
                        <day-icon [icon]="'day-chevron-down'" DAYSlot="right"/>
                    </day-input>
                </div>
            </div>

 
<h2>Custom CSS properties</h2>

<day-table [data]="data" [displayedColumns]="displayedColumns" [resizableColumns]="true" [selectableRows]="true">
    <ng-template DAYTableActionsTmpl let-item="item" let-index="index">
        <day-icon [DAYToast]="dayToastDirective" class="details-icon show" [icon]="'day-content-copy'" (click)="copyToClipboard(item.name)"/>
    </ng-template>
    <day-table-column name="name" title="Name" [hasActions]="true" [width]="200"/>
    <day-table-column [width]="320" name="description" title="Description"/>
    <day-table-column name="default" title="Default"/>
    <day-toast #dayToastDirective>Text copied to clipboard</day-toast>
</day-table>