<h2>Skeleton loader component types</h2>
<p>
    Different skeleton loader types for various UI components: block, checkbox, radio, input, table, and tabs.
</p>

<h3>Block</h3>
<day-skeleton-loader/>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-skeleton-loader/&gt;
</code></pre></div>

<h3>Checkbox</h3>
<div class="flex flex-wrap gap-4">
    <day-skeleton-loader [type]="'checkbox'"/>
    <day-skeleton-loader [type]="'checkbox'"/>
</div>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-skeleton-loader [type]="'checkbox'"/&gt;
&lt;day-skeleton-loader [type]="'checkbox'"/&gt;
</code></pre></div>

<h3>Radio</h3>
<div class="flex flex-wrap gap-4">
    <day-skeleton-loader [type]="'radio'"/>
    <day-skeleton-loader [type]="'radio'"/>
</div>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-skeleton-loader [type]="'radio'"/&gt;
&lt;day-skeleton-loader [type]="'radio'"/&gt;
</code></pre></div>

<h3>Input</h3>
<div class="flex flex-wrap gap-4">
    <day-skeleton-loader [type]="'input'" [label]="true"/>
    <day-skeleton-loader [type]="'input'"/>
</div>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-skeleton-loader [type]="'input'" [label]="true"/&gt;
&lt;day-skeleton-loader [type]="'input'"/&gt;
</code></pre></div>

<h3>Table</h3>
<day-skeleton-loader [type]="'table'" [rows]="8" [cols]="4"/>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-skeleton-loader [type]="'table'" [rows]="8" [cols]="4"/&gt;
</code></pre></div>

<h3>Tabs</h3>
<day-skeleton-loader [type]="'tabs'" [tabs]="4"/>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-skeleton-loader [type]="'tabs'" [tabs]="4"/&gt;
</code></pre></div>

 
<h2>Skeleton loader directive</h2>
        <p>This content is wrapped with the skeleton loader directive.</p>
          <day-card [daySkeletonLoader]="isLoadingDirective">
                <day-card-body>
                    <h3>Skeleton Loader Directive Example</h3>
                    <p>This content is wrapped with the skeleton loader directive.</p>
                </day-card-body>
            </day-card>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-card [daySkeletonLoader]="isLoadingDirective"&gt;
    &lt;day-card-body&gt;
        &lt;h3&gt;Skeleton Loader Directive Example&lt;/h3&gt;
        &lt;p&gt;This content is wrapped with the skeleton loader directive.&lt;/p&gt;
    &lt;/day-card-body&gt;
&lt;/day-card&gt;
</code></pre></div>


 
<h2>Custom CSS properties</h2>
<p>
    Styles of day-skeleton-loader can be customized overriding some of its CSS properties.
</p>
<day-table [data]="data" [displayedColumns]="displayedColumns" [resizableColumns]="true" [selectableRows]="true">
    <ng-template DAYTableActionsTmpl let-item="item" let-index="index">
        <day-icon [DAYToast]="dayToastDirective" [icon]="'day-content-copy'" (click)="copyToClipboard(item.name)"/>
    </ng-template>
    <day-table-column [width]="250" name="name" title="Name" [hasActions]="true"/>
    <day-table-column [width]="300" name="description" title="Description"/>
    <day-table-column name="default" title="Default">
        <ng-template DAYTableCellTmpl let-item="item">
            <span [innerHTML]="item.default"></span>
        </ng-template>
    </day-table-column>
</day-table>
<day-toast #dayToastDirective>Text copied to clipboard</day-toast>
