:host {
    display: block;
    padding: 0 var(--spacing-sm);
    margin: var(--spacing-sm) 0;

    day-skeleton-loader {

        &.day-skeleton-loader-type-block {
            --skeleton-block-height: 120px;
        }

        &.day-skeleton-loader-type-table {
            --skeleton-table-height: 200px;
        }
    }
}
