<h1>Radio component</h1>
<p>
    <code>import &#123; DAYRadioGroupComponent, DAYRadioButtonComponent &#125; from '/radio';</code>
</p>

 
<h2>Selectors</h2>
<p>Radio group: <code>day-radio-group</code></p>
<p>Radio button: <code>day-radio-button</code></p>

<h2>Installation and Usage</h2>
<div class="p-4 bg-gray-100 rounded-sm">
    <pre><code>npm install @dayerlin-bustamante/radio</code></pre>
    <br>
    <pre><code>import {{ '{' }} DAYRadioGroupComponent, DAYRadioButtonComponent {{ '}' }} from '@dayerlin-bustamante/radio';</code></pre>
    <br>
    <pre><code>&lt;day-radio-group&gt;
    &lt;day-radio-button value="1"&gt;Option 1&lt;/day-radio-button&gt;
&lt;/day-radio-group&gt;</code></pre>
</div>

 
<h2>Inputs</h2>

<h3>Radio Button</h3>
<day-table [data]="dataInputs" [displayedColumns]="displayedColumns" [resizableColumns]="true">
    <day-table-column [width]="250" name="name" title="Name"/>
    <day-table-column [width]="400" name="description" title="Description"/>
    <day-table-column name="default" title="Default"/>
</day-table>

<h3>Radio Group</h3>
<p>No inputs included in radio group component.</p>

 
<h2>Output</h2>
<p>No outputs are included in the radio group component or the radio button component.</p>

 
<h2>Directives</h2>
<p>No directives are included in the radio group component or the radio button component.</p>

 
<h2>Public methods</h2>
<p>No public methods are included in the radio group component or the radio button component.</p>

 

<p>
    The component <code>&lt;day-radio-group&gt;</code> is a form control that provides the same functionality as a native <code>&lt;input type="radio"&gt;</code>, enhanced with Design styling.
</p>
 
<h2>Dependencies</h2>
<p>
    <code>'/core'</code>
</p>

 
<h2>Example</h2>
<day-card shadow="small">
    <day-card-body>
        <day-tabs class="light">
            <day-tab [tabTmpl]="html">Html</day-tab>
            <day-tab [active]="true" [tabTmpl]="demo">Demo</day-tab>
        </day-tabs>

        <ng-template #html>
    <pre><code class="code-html">
    &lt;day-radio-group [(ngModel)]=&quot;selected&quot;&gt;
        &lt;day-radio-button [value]=&quot;'option1'&quot;&gt;
            &lt;day-label&gt;First option&lt;/day-label&gt;
        &lt;/day-radio-button&gt;
        &lt;day-radio-button [value]=&quot;'option2'&quot;&gt;
            &lt;day-label&gt;Second option&lt;/day-label&gt;
        &lt;/day-radio-button&gt;
    &lt;/day-radio-group&gt;
    </code></pre>
        </ng-template>

        <ng-template #demo>
            <day-radio-group [(ngModel)]="selected">
                <day-radio-button [value]="'option1'">
                    <day-label>First option</day-label>
                </day-radio-button>
                <day-radio-button [value]="'option2'">
                    <day-label>Second option</day-label>
                </day-radio-button>
            </day-radio-group>
        </ng-template>
    </day-card-body>
</day-card>
<br>

 
<h2>Radio button label</h2>
<p>
    This label must be used with <code>&lt;day-label&gt;</code> component and can be positioned before or after the <code> &lt;input type="radio"&gt;</code> by setting the labelPosition property to 'before' or 'after' in <code> &lt;day-radio-button&gt;</code>.
</p>

 
<h2>Radio groups</h2>
<p>
    The <code>&lt;day-radio-group&gt;</code> component is used to group radio buttons together. It allows you to bind the selected value to a model using two-way data binding with <code>[(ngModel)]</code> or by using reactive forms with <code>formControlName</code>. The group manages the state changes for disabled and invalid radio buttons.
</p>

 
<h2>Use with &#64;angular/forms</h2>
<p>
    Supports both FormsModule and ReactiveFormsModule.
</p>
