:host {
    display: block;
    padding: 0 var(--spacing-sm);
    margin: var(--spacing-sm) 0;

    day-card {
        width: 700px;

        ::ng-deep .day-tab-content-wrapper {
            display: flex;
            justify-content: center;
        }
    }

    code.code-html {
        margin-top: var(--spacing-sm);
    }

    .inputs-container {
        margin: 16px 0;
        display: flex;
        gap: 8px;
        align-items: baseline;
    }

    .label {
        margin-right: 8px;
    }
}