<h1>Input component</h1>

<p>
    The component <code>&lt;day-input&gt;</code> is a form control that provides the same
    functionality as a native <code> &lt;input&gt;</code>, enhanced with DAY Design styling.
</p>

 
<h2>Dependencies</h2>
<p><code>'/core'</code></p>
<p><code>'/icon'</code></p>

 
<h2>Example</h2>
<day-card shadow="small">
    <day-card-body>
        <day-tabs class="light">
            <day-tab [tabTmpl]="html">Html</day-tab>
            <day-tab [active]="true" [tabTmpl]="demo">Demo</day-tab>
        </day-tabs>

        <ng-template #html>
            <pre><code class="code-html">
  &lt;div class="inputs-container"&gt;
    &lt;div [formGroup]="formGroup" class="input-wrapper"&gt;
        &lt;day-input [id]="'1'" formControlName="formControl" 
        placeholder="Enter number" type="number"&gt;
            &lt;day-label&gt;
                &lt;span class="label"&gt;Label example&lt;/span&gt;
                &lt;day-icon 
                    [icon]="'day-error'" 
                    [DAYTooltip]="'Mensaje de error'" 
                    [DAYTooltipConfig]="tooltipConfig"/&gt;
            &lt;/day-label&gt;
        &lt;/day-input&gt;
    &lt;/div&gt;

    &lt;div [formGroup]="formGroup" class="input-wrapper" #bonded2&gt;
        &lt;day-input formControlName="formControlValue" placeholder="Enter text"&gt;  
            &lt;day-label&gt;Label example&lt;/day-label&gt;
        &lt;/day-input&gt;
    &lt;/div&gt;
  &lt;/div&gt;
            </code></pre>
        </ng-template>

        <ng-template #demo>
            <div class="inputs-container">
                <div [formGroup]="formGroup" class="input-wrapper">
                    <day-input [id]="'1'" formControlName="formControl" placeholder="Enter number" type="number">
                        <day-label>
                            <span class="label">Label example</span>
                            <day-icon [icon]="'day-error'" [DAYTooltip]="'Mensaje de error'" [DAYTooltipConfig]="tooltipConfig"/>
                        </day-label>
                    </day-input>
                </div>

                <div [formGroup]="formGroup" class="input-wrapper" #bonded2>
                    <day-input formControlName="formControlValue" placeholder="Enter text">
                        <day-label>Label example</day-label>
                    </day-input>
                </div>
            </div>
        </ng-template>
    </day-card-body>
</day-card>

 
<h2>Description</h2>
<p>
    A reusable input component that implements ControlValueAccessor to integrate with Angular reactive forms. It supports different types (text, number, email, etc.), input sizes, optional left/right slot content via content projection, and dynamic styling based on control state (e.g., disabled, filled, with slot). Class bindings and signal-based state make it reactive and easily extendable.
</p>

 
<h2>Import</h2>
<p>
    <code>import &#123; DAYInputComponent &#125; from '&#64;dayerlin-bustamante/input';</code>
</p>

 
<h2>Selectors</h2>
<p>Input: <code>day-input</code></p>

<h2>Installation and Usage</h2>
<div class="p-4 bg-gray-100 rounded-sm">
    <pre><code>npm install @dayerlin-bustamante/input</code></pre>
    <br>
    <pre><code>import {{ '{' }} DAYInputComponent {{ '}' }} from '@dayerlin-bustamante/input';</code></pre>
    <br>
    <pre><code>&lt;day-input label="Label"/&gt;</code></pre>
</div>

 
<h2>Inputs</h2>
<day-table [data]="dataInputs" [displayedColumns]="displayedColumns" [resizableColumns]="true">
    <day-table-column [width]="390" name="name" title="Name"/>
    <day-table-column [width]="460" name="description" title="Description"/>
    <day-table-column name="default" title="Default"/>
</day-table>

 
<h2>Output</h2>
<p>Not included.</p>

 
<h2>Computes and internal events</h2>
<day-table [data]="dataComputedsEvent" [displayedColumns]="displayedColumns" [resizableColumns]="true">
    <day-table-column [width]="250" name="name" title="Name"/>
    <day-table-column [width]="400" name="description" title="Description"/>
    <day-table-column name="default" title="Default"/>
</day-table>

 
<h2>Directives</h2>
<p>Not included.</p>

 
<h2>Public methods</h2>
<p>Not included.</p>