<h2>Inline calendar examples</h2>
<p>
    Inline calendar with different configurations: default, range dates, disabled dates, and highlighted dates.
</p>

<h3>Default</h3>
<day-datepicker class="mb-6" [type]="'datetime'" [autoclose]="true" [placeholder]="'selected date'" [formControl]="dateControl"/>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-datepicker [type]="'datetime'" [autoclose]="true" [placeholder]="'selected date'"
[formControl]="dateControl"/&gt;
</code></pre></div>

<h3>Range dates</h3>
<day-datepicker [type]="'datetime'" [autoclose]="true" [placeholder]="'selected date'" [rangeDate]="true" [formControl]="dateControl1"/>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-datepicker [type]="'datetime'" [autoclose]="true" [placeholder]="'selected date'"
[rangeDate]="true" [formControl]="dateControl1"/&gt;
</code></pre></div>

<h3>Disabled dates</h3>
<day-datepicker [type]="'datetime'" [disabledDates]="disabledDate" [autoclose]="true" [placeholder]="'selected date'" [formControl]="dateControl2"/>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-datepicker [type]="'datetime'" [disabledDates]="disabledDate" [autoclose]="true"
[placeholder]="'selected date'" [formControl]="dateControl2"/&gt;
</code></pre></div>

<h3>Highlight dates</h3>
<day-datepicker [type]="'datetime'" [autoclose]="true" [placeholder]="'selected date'" [highlightDates]="highlightDates" [formControl]="dateControl3"/>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-datepicker [type]="'datetime'" [autoclose]="true" [placeholder]="'selected date'"
[highlightDates]="highlightDates" [formControl]="dateControl3"/&gt;
</code></pre></div>

 
<h2>Autoclose or not datepicker</h2>

<h3>Autoclose</h3>
<day-datepicker [type]="'datetime'" [autoclose]="true" [placeholder]="'selected date'" [rangeDate]="true" [formControl]="dateControl4"/>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-datepicker [type]="'datetime'" [autoclose]="true" [placeholder]="'selected date'"
[rangeDate]="true" [formControl]="dateControl4"/&gt;
</code></pre></div>

<h3>Not Autoclose</h3>
<day-datepicker [type]="'datetime'" [autoclose]="false" [placeholder]="'selected date'" [formControl]="dateControl5"/>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-datepicker [type]="'datetime'" [autoclose]="false" [placeholder]="'selected date'"
[formControl]="dateControl5"/&gt;
</code></pre></div>

 
<h2>Type datepicker examples</h2>

<h3>Date</h3>
<day-datepicker [type]="'date'" [autoclose]="true" [placeholder]="'selected date'" [formControl]="dateControl6"/>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-datepicker [type]="'date'" [autoclose]="true" [placeholder]="'selected date'"
[formControl]="dateControl6"/&gt;
</code></pre></div>

<h3>Datetime</h3>
<day-datepicker [type]="'datetime'" [autoclose]="false" [placeholder]="'selected date'" [formControl]="dateControl7"/>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-datepicker [type]="'datetime'" [autoclose]="false" [placeholder]="'selected date'"
[formControl]="dateControl7"/&gt;
</code></pre></div>

<h3>Time</h3>
<day-datepicker [type]="'time'" [autoclose]="true" [rangeDate]="true" [placeholder]="'selected date'" [formControl]="dateControl8"/>
<div class="p-4 bg-gray-100 rounded-sm"><pre><code class="code-html">
&lt;day-datepicker [type]="'time'" [autoclose]="true" [rangeDate]="true" [placeholder]="'selected date'"
[formControl]="dateControl8"/&gt;
</code></pre></div>

 
<h2>Custom CSS properties</h2>

<day-table [data]="data" [displayedColumns]="displayedColumns" [resizableColumns]="true" [selectableRows]="true">
    <ng-template DAYTableActionsTmpl let-item="item" let-index="index">
        <day-icon [DAYToast]="dayToastDirective" [icon]="'day-content-copy'" (click)="copyToClipboard(item.name)"/>
    </ng-template>
    <day-table-column [width]="250" name="name" title="Name" [hasActions]="true"/>
    <day-table-column [width]="250" name="description" title="Description"/>
    <day-table-column name="default" title="Default">
        <ng-template DAYTableCellTmpl let-item="item">
            <span [innerHTML]="item.default"></span>
        </ng-template>
    </day-table-column>
</day-table>
<day-toast #dayToastDirective>Text copied to clipboard</day-toast>
