<h2>Toggle examples</h2>

<div class="p-4 bg-gray-100 rounded-sm">
    <pre><code>
    &#60;day-toggle [options]="['Edit', 'View']"/&#62;
            </code></pre>
</div>
<day-toggle [options]="['Edit', 'View']"/>

<div class="p-4 bg-gray-100 rounded-sm">
    <pre><code>
    &#60;day-toggle [options]="['Edit', 'View']"&#62;
        &#60;ng-template DAYToggleItemTmpl let-item="item"&#62;
            &#60;day-icon [icon]="item"/&#62;
        &#60;/ng-template&#62;
    &#60;/day-toggle&#62;
            </code></pre>
</div>
<day-toggle [options]="optionsIcons()">
    <ng-template DAYToggleItemTmpl let-item="item">
        <day-icon [icon]="item"/>
    </ng-template>
</day-toggle>

<div class="p-4 bg-gray-100 rounded-sm">
    <pre><code>
    &#60;day-toggle [options]="['Option 1', 'Option 2']" 
        [(ngModel)]="toggleDisabled" 
        name="toggleDisabled" [disabled]="true"/&#62;
            </code></pre>
</div>
<day-toggle [options]="['Option 1', 'Option 2']" [(ngModel)]="toggleDisabled" name="toggleDisabled" [disabled]="true"/>

<h2>Custom CSS properties</h2>
<day-table [data]="data" [displayedColumns]="displayedColumns" [resizableColumns]="true" [selectableRows]="true">
    <ng-template DAYTableActionsTmpl let-item="item" let-index="index">
        <day-icon [DAYToast]="dayToastDirective" [icon]="'day-content-copy'" (click)="copyToClipboard(item.name)"/>
    </ng-template>
    <day-table-column [width]="240" name="name" title="Name" [hasActions]="true"/>
    <day-table-column [width]="280" name="description" title="Description"/>
    <day-table-column name="default" title="Default">
        <ng-template DAYTableCellTmpl let-item="item">
            <span [innerHTML]="item.default"></span>
        </ng-template>
    </day-table-column>
</day-table>
<day-toast #dayToastDirective>Text copied to clipboard</day-toast>