<h1>Toggle component</h1>
<p>
    <code>import &#123; DAYToggleComponent &#125; from '/toggle';</code>
</p>
 

<h2>Selectors</h2>
<p>Toggle: <code>day-toggle</code></p>

<h2>Installation and Usage</h2>
<div class="p-4 bg-gray-100 rounded-sm">
    <pre><code>npm install @dayerlin-bustamante/toggle</code></pre>
    <br>
    <pre><code>import {{ '{' }} DAYToggleComponent {{ '}' }} from '@dayerlin-bustamante/toggle';</code></pre>
    <br>
    <pre><code>&lt;day-toggle [options]="['Option 1', 'Option 2']"/&gt;</code></pre>
</div>

<h2>Inputs</h2>
<day-table [data]="inputsData" [displayedColumns]="displayedColumns" [resizableColumns]="true">
    <day-table-column [width]="240" name="name" title="Name"/>
    <day-table-column name="description" title="Description"/>
    <day-table-column [width]="120" name="default" title="Default"/>
</day-table>
 

<h2>Outputs</h2>
<day-table [data]="outputsData" [displayedColumns]="displayedColumnsNoDefault" [resizableColumns]="true">
    <day-table-column [width]="240" name="name" title="Name"/>
    <day-table-column name="description" title="Description"/>
</day-table>
 

<h2>Directives</h2>
<day-table [data]="directivesData" [displayedColumns]="displayedColumnsNoDefault" [resizableColumns]="true">
    <day-table-column [width]="240" name="name" title="Name"/>
    <day-table-column name="description" title="Description"/>
</day-table>
 

<h2>Public methods</h2>
<div>Not included</div>
 

<p>
    <code>&lt;day-toggle&gt;</code> is a component for toggling between two states, similar to a switch or checkbox. It can be used to represent binary choices or options.
</p>
 

<h2>Dependencies</h2>
<p>
    <code>'/core'</code>
</p>
 

<h2>Example</h2>
<day-card shadow="small">
    <day-card-body>
        <day-tabs class="light">
            <day-tab [tabTmpl]="html">Html</day-tab>
            <day-tab [active]="true" [tabTmpl]="demo">Demo</day-tab>
        </day-tabs>

        <ng-template #html>
            <pre><code>
    &#60;day-toggle [options]="['Edit', 'View']"/&#62;
            </code></pre>
        </ng-template>

        <ng-template #demo>
            <day-toggle [options]="['Edit', 'View']"/>
        </ng-template>

    </day-card-body>
</day-card>
 

<h2>Use with &#64;angular/forms</h2>
<p>
    Supports both FormsModule and ReactiveFormsModule.
</p>
 

<h2>Description</h2>
<p>
    It supports custom templates for items, and can be used with reactive forms. The toggle can be styled and configured with various options.
</p>
<p>
    The toggle component can display icons, text, or both, and allows for customization of the toggle's appearance and behavior.
</p>