:host {
    display: block;
    padding: 0 var(--spacing-sm);
    margin: var(--spacing-sm) 0;

    day-card {
        width: 200px;
        text-align: center;

        day-card-body {
            display: flex;
            gap: 16px;
            justify-content: center;
            
            .error {
                color: var(--color-tertiary);
            }

            .check {
                color: var(--color-green);
            }
        }
    }
}